html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

.quiz {
  height: 100vh;
  padding: 2em 4em;

  &__progress-bar{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 12px;
    background-color: #a9aaa9;
  }

  &__question-counter {
    margin: 0;
  }
}