html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

.quiz {
  height: 100vh;
  // border: solid #e3e3e3 1px;

  &__progress-bar{
    height: 12px;
    background-color: #a9aaa9;
  }
}